body{
    display: grid;
    /* 定义行列的宽度 3行4列*/
    grid: 100px 200px 100px / 1fr 300px 600px 1fr;
}
header{
    /* 1 / 5 表示列的网格线 */
    grid-column: 1 / 5; 
    grid-row: 1 / 2;
    text-align: center;
    padding-top: 42px;
    background: red;
}
aside{
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
    text-align: center;
    padding-top: 92px;
    background: green;
}
main{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: center;
    padding-top: 92px;
    background: yellow;
}
footer{
    grid-column: 1 / 5; 
    grid-row: 3 / 4;
    text-align: center;
    padding-top: 42px;
    background: blue;
}